.page-header
  %h1
    = @movie.title
    %small= "(#{@movie.release_date.year})"

.row
  .span4
    .movie-poster{style: "text-align: center"}
      - if @movie.poster_file_name.nil?
        No image
      - else
        = image_tag @movie.poster.url(:medium), class: 'img-polaroid'
  .span8
    - unless @checkin.present?
      = link_to "Add to Watchlist", movie_checkins_path(@movie), method: :post, class: "btn btn-info"
    - else
      = link_to "Remove from Watchlist", movie_checkin_path(@movie, @checkin), method: :delete, class: 'btn'
    %span.label.label-success= @movie.average_rating
    = render 'ratings/form'
    %hr
    %p
      = @movie.synopsis
    %p
      -unless @movie.uri_trailer.nil?
        %h3 Trailer
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/#{@movie.uri_trailer}?rel=0", :width => "560"}
