.page-header
  %h1
    = @movie.title
    %small= "(#{@movie.release_date.year})"

.row
  .span4
    .movie-poster{style: "text-align: center"}
      - if @movie.poster_file_name.nil?
        No image
      - else
        = image_tag @movie.poster.url(:medium), class: 'img-polaroid'
  .span8
    - unless @checkin.present?
      = link_to "Watch this movie", movie_checkins_path(@movie), method: :post
    - else
      = link_to "I haven't watch this movie yet!!", movie_checkin_path(@movie, @checkin), method: :delete
    %span.label.label-success= @movie.average_rating
    = render 'ratings/form'
    %hr
    %p
      = @movie.synopsis
